.nav {
	flex-grow: 1;

	&__list {
		display: flex;
		gap: 20px;

		@media (max-width: 991px) {
			flex-direction: column;
		}
	}

	&__item {
		@media (max-width: 991px) {
			text-align: center;
		}
	}

	&__link {
		font-family: $font-family-secondary, sans-serif;
		font-size: 18px;
		line-height: 26px;
		text-transform: uppercase;
		color: $white-color;
		transition: color 0.3s;

		&:hover {
			text-decoration: none;
			/* stylelint-disable-next-line scss/no-global-function-names */
			color: darken($color: $white-color, $amount: 20%);
		}

		@media (max-width: 991px) {
			font-size: 24px;
		}
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: 991px) {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow-y: auto;
		padding: 20px;
		width: 100%;
		height: 100%;
		background-color: $black-color;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	}
}
