<section class="chat">
	<div class="container">
		<h2 class="chat__title section-title">Как все происходит</h2>
		<ul class="chat__list">
			<li class="chat__item">
				<a
					class="chat__link"
					data-fancybox="chat"
					data-caption="Скриншот 1"
					href="@img/first-class-stylish-help-chat-1.jpg"
				>
					<picture>
						<source
							srcset="@img/first-class-stylish-help-chat-1.webp"
							type="image/webp"
						/>
						<img
							class="chat__image"
							src="@img/first-class-stylish-help-chat-1.jpg"
							loading="lazy"
							alt="Скриншот 1"
						/>
					</picture>
				</a>
				<div>
					<div class="chat__descr">
						Далеко-далеко за словесными горами в стране гласных и согласных
						живут рыбные тексты.
					</div>
				</div>
			</li>
			<li class="chat__item">
				<a
					class="chat__link"
					data-fancybox="chat"
					data-caption="Скриншот 2"
					href="@img/first-class-stylish-help-chat-2.jpg"
				>
					<picture>
						<source
							srcset="@img/first-class-stylish-help-chat-2.webp"
							type="image/webp"
						/>
						<img
							class="chat__image"
							src="@img/first-class-stylish-help-chat-2.jpg"
							loading="lazy"
							alt="Скриншот 2"
						/>
					</picture>
				</a>
				<div>
					<div class="chat__descr">
						Далеко-далеко за словесными горами в стране гласных и согласных
						живут рыбные тексты.
					</div>
				</div>
			</li>
			<li class="chat__item">
				<a
					class="chat__link"
					data-fancybox="chat"
					data-caption="Скриншот 3"
					href="@img/first-class-stylish-help-chat-3.jpg"
				>
					<picture>
						<source
							srcset="@img/first-class-stylish-help-chat-3.webp"
							type="image/webp"
						/>
						<img
							class="chat__image"
							src="@img/first-class-stylish-help-chat-3.jpg"
							loading="lazy"
							alt="Скриншот 3"
						/>
					</picture>
				</a>
				<div>
					<div class="chat__descr">
						Далеко-далеко за словесными горами в стране гласных и согласных
						живут рыбные тексты.
					</div>
				</div>
			</li>
			<li class="chat__item">
				<a
					class="chat__link"
					data-fancybox="chat"
					data-caption="Скриншот 4"
					href="@img/first-class-stylish-help-chat-4.jpg"
				>
					<picture>
						<source
							srcset="@img/first-class-stylish-help-chat-4.webp"
							type="image/webp"
						/>
						<img
							class="chat__image"
							src="@img/first-class-stylish-help-chat-4.jpg"
							loading="lazy"
							alt="Скриншот 4"
						/>
					</picture>
				</a>
				<div>
					<div class="chat__descr">
						Далеко-далеко за словесными горами в стране гласных и согласных
						живут рыбные тексты.
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
