<section class="packages">
	<div class="container-fluid">
		<h2 class="packages__title section-title">Пакеты услуг</h2>
		<div class="packages__items">
			<div class="packages__item package-item">
				<div class="package-item__subtitle">Пакет</div>
				<h3 class="package-item__name">«Попробовать»</h3>
				<ul class="package-item__list">
					<li>Срок:<span>в пределах 24 часов</span></li>
					<li>
						Вопросы/комплектов на оценку:
						<span>5 ваших луков или 5 вопросов</span>
					</li>
				</ul>
				<div class="package-item__prices">
					<div class="package-item__price package-item__price--cross">890₽</div>
					<div class="package-item__price">499₽</div>
				</div>
				<button class="btn btn--pink">
					<span>
						<svg class="package-item__icon">
							<use xlink:href="img/sprite.svg#cart"></use>
						</svg>
						Заказать
					</span>
				</button>
			</div>
			<div class="packages__item package-item">
				<div class="package-item__subtitle">Пакет</div>
				<h3 class="package-item__name">«1 день»</h3>
				<ul class="package-item__list">
					<li>Срок:<span>в пределах 24 часов</span></li>
					<li>
						Вопросы/комплектов на оценку:
						<span>до 100</span>
					</li>
				</ul>
				<div class="package-item__prices">
					<div class="package-item__price package-item__price--cross">890₽</div>
					<div class="package-item__price">499₽</div>
				</div>
				<button class="btn btn--pink">
					<span>
						<svg class="package-item__icon">
							<use xlink:href="img/sprite.svg#cart"></use>
						</svg>
						Заказать
					</span>
				</button>
			</div>
			<div class="packages__item package-item">
				<div class="package-item__subtitle">Пакет</div>
				<h3 class="package-item__name">«1 месяц»</h3>
				<ul class="package-item__list">
					<li>Срок:<span>в течении месяца</span></li>
					<li>
						Вопросы/комплектов на оценку:
						<span>неограниченно</span>
					</li>
				</ul>
				<div class="package-item__prices">
					<div class="package-item__price package-item__price--cross">890₽</div>
					<div class="package-item__price">499₽</div>
				</div>
				<button class="btn btn--pink">
					<span>
						<svg class="package-item__icon">
							<use xlink:href="img/sprite.svg#cart"></use>
						</svg>
						Заказать
					</span>
				</button>
			</div>
		</div>
	</div>
</section>
