<section class="reservation">
	<div class="reservation__new">Новинка</div>
	<div class="reservation__container container-fluid">
		<h2 class="reservation__title section-title">Скорая стильная помощь</h2>
		<div class="reservation__descr">
			<p>
				Далеко-далеко за словесными, горами в стране гласных и согласных живут
				рыбные тексты. Не lorem свой эта маленькая текст страна грамматики
				большой? Составитель встретил решила рукопись. Речью всемогущая вопрос,
				предложения предупреждал продолжил использовало.
			</p>
		</div>
	</div>
	<div class="reservation__bg">
		<picture>
			<source srcset="@img/form-reservation-bigcolor.jpg" type="image/webp" />
			<img
				class="reservation__bg-image"
				src="@img/form-reservation-bigcolor.jpg"
				loading="lazy"
				alt="Онлайн-консультация стилиста"
			/>
		</picture>
		<div class="reservation__bg-descr">Описание картинки</div>
	</div>
</section>
