<section class="signup">
	<div class="signup__container container">
		<table class="happen__table table-signup">
			<thead>
				<tr>
					<th>Вы получаете:</th>
					<th>Теория</th>
					<th>Практика</th>
					<th>VIP</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Все материалы тренинга</td>
					<td>
						<img loading="lazy" src="@img/check.svg" alt="Включено" />
					</td>
					<td>
						<img loading="lazy" src="@img/check.svg" alt="Включено" />
					</td>
					<td>
						<img loading="lazy" src="@img/check.svg" alt="Включено" />
					</td>
				</tr>
				<tr>
					<td>Проверка ДЗ</td>
					<td>
						<img loading="lazy" src="@img/minus.svg" alt="Отсутствует" />
					</td>
					<td>
						2,5 месяца <span>* имиджмейкером команды Гламурненько.ру</span>
					</td>
					<td>2,5 месяца <span>* лично Екатериной Маляровой</span></td>
				</tr>
				<tr>
					<td>Тренажер по стилевым типажам</td>
					<td>
						<img loading="lazy" src="@img/minus.svg" alt="Отсутствует" />
					</td>
					<td>
						<img loading="lazy" src="@img/check.svg" alt="Включено" />
					</td>
					<td>
						<img loading="lazy" src="@img/check.svg" alt="Включено" />
					</td>
				</tr>
				<tr>
					<td>Тренажер по вещам и образам</td>
					<td>
						<img loading="lazy" src="@img/minus.svg" alt="Отсутствует" />
					</td>
					<td>
						<img loading="lazy" src="@img/check.svg" alt="Включено" />
					</td>
					<td>
						<img loading="lazy" src="@img/check.svg" alt="Включено" />
					</td>
				</tr>
			</tbody>
			<thead>
				<tr class="table-signup__price">
					<th>Цена</th>
					<th>7 990 ₽</th>
					<th>9 990 ₽</th>
					<th>24 990 ₽</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td colspan="3">
						<div class="table-signup__currencies">
							<div class="table-signup__currency">
								<img loading="lazy" src="@img/ruble.svg" alt="Рубль" />
							</div>
							<div class="table-signup__currency">
								<img loading="lazy" src="@img/hryvnia.svg" alt="Гривна" />
							</div>
							<div class="table-signup__currency">
								<img loading="lazy" src="@img/dollar.svg" alt="Доллар" />
							</div>
							<div class="table-signup__currency">
								<img loading="lazy" src="@img/euro.svg" alt="Евро" />
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="btn btn--black">Заказать</button>
					</td>
					<td>
						<button class="btn btn--black">Заказать</button>
					</td>
					<td>
						<button class="btn btn--black">Заказать</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
