<header class="header">
	<div class="header__container container-fluid">
		<nav class="header__nav nav" title="Меню" data-menu>
			<ul class="nav__list">
				<li class="nav__item"><a class="nav__link" href="#">Блог</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Бесплатно</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Семинары</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Тренинги</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Услуги</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Отзывы</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Контакты</a></li>
			</ul>
		</nav>
		<ul class="header__social social" title="Социальные сети">
			<li class="social__item">
				<a
					class="social__link"
					href="https://www.instagram.com/"
					target="_blank"
					aria-label="Наша страничка в Инстаграме"
				>
					<picture>
						<source srcset="@img/instagram.webp" type="image/webp" />
						<img
							class="social__image"
							src="@img/instagram.png"
							loading="lazy"
							alt="Инстаграм"
						/>
					</picture>
				</a>
			</li>
			<li class="social__item">
				<a
					class="social__link"
					href="https://www.facebook.com/"
					target="_blank"
					aria-label="Наша страничка в Фейсбуке"
				>
					<picture>
						<source srcset="@img/facebook.webp" type="image/webp" />
						<img
							class="social__image"
							src="@img/facebook.png"
							loading="lazy"
							alt="Фейсбук"
						/>
					</picture>
				</a>
			</li>
			<li class="social__item">
				<a
					class="social__link"
					href="https://vk.com/"
					target="_blank"
					aria-label="Наша страничка во Вконтакте"
				>
					<picture>
						<source srcset="@img/vk.webp" type="image/webp" />
						<img
							class="social__image social__image--vk"
							src="@img/vk.png"
							loading="lazy"
							alt="Вконтакт"
						/>
					</picture>
				</a>
			</li>
		</ul>
		<ul class="header__phones phones">
			<a class="phones__link" href="tel:88007070513">8(800)707-05-13</a>
			<a class="phones__link" href="tel:+74993502335">+7(499)350-23-35</a>
		</ul>
		<button
			class="header__burger burger"
			aria-label="Открыть меню"
			aria-expanded="false"
			data-burger
		>
			<span class="burger__line"></span>
		</button>
	</div>
</header>
